# Predicting school STAAR scores

In [7]:
import pandas as pd
import prepare

## Project Goals:

<div class="alert alert-block alert-info">
<b>Highlights:</b>
</br>

* identify features of teachers/students that have a relationship with STAAR score percentage.
</br>

* Visualize relationships between variables
</br>

* use regression models to predict likely STAAR score for each test (English 1, English 2, Algebra, US History, Biology.

## Acquire

<div class="alert alert-block alert-info">
<b>Highlights:</b>
</br>

* Data was obtained from the Texas Education Agency at tea.gov
</br>

* Data was obtained 3/13/2023
</br>

* Web scraping function was created to scrape features of primary interest and placed into one DataFrame
</br>

* Each row represents a studen and each column is a feature of that student

In [9]:
prepare.clean_df()

,school_id,english_1,english_2,algebra,biology,history,bilingual_or_english_learner,econdis,salary,teacher_exp_6to10,extracurricular_expend,total_expend,student_teacher_ratio,teacher_exp_0to5,teacher_exp_11_plus,high_edu
0,1902001,67.0,82.0,95.0,88.0,93.0,1.2,34.3,55259.0,16.4,1852.0,10656.0,10.1,18.0,65.6,22.0
1,1903001,75.0,87.0,76.0,92.0,93.0,1.3,34.5,48689.0,21.6,2056.0,11177.0,8.3,27.2,51.2,29.4
2,1904001,78.0,80.0,90.0,87.0,88.0,4.7,42.2,51538.0,15.2,2151.0,10885.0,8.8,42.2,42.6,37.0
3,1906002,82.0,80.0,100.0,100.0,96.0,2.9,48.1,58500.0,20.4,1899.0,15043.0,11.9,20.5,59.1,9.8
4,1907001,64.0,66.0,82.0,83.0,83.0,13.8,79.9,52703.0,17.4,1504.0,11129.0,12.2,22.7,59.9,20.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1556,252901001,75.0,79.0,86.0,85.0,94.0,9.5,49.9,57874.0,10.5,1423.0,9852.0,13.1,13.1,76.3,22.9
1557,252903001,83.0,90.0,88.0,93.0,93.0,4.0,64.9,48047.0,34.8,2756.0,13508.0,7.7,24.9,40.3,27.9
1558,253901001,49.0,48.0,70.0,70.0,79.0,30.4,86.8,54771.0,9.9,113.0,7916.0,13.9,36.5,53.7,21.2
1559,254901001,48.0,62.0,51.0,76.0,88.0,1.3,81.1,51019.0,22.1,60.0,7617.0,16.9,29.6,48.3,20.6
1560,254902001,86.0,59.0,72.0,69.0,41.0,5.9,84.8,53223.0,16.1,2016.0,13154.0,8.2,21.6,62.2,11.3