In [1]:
import pandas as pd

In [2]:
data = pd.read_html('https://rptsvr1.tea.texas.gov/cgi/sas/broker?_service=marykay&_service=appserv&_debug=0&_program=sfadhoc.new_Campus_actual21.sas&which_camp=161920001', header=0)

In [3]:
data[1].head(2)

,Unnamed: 0,GeneralFund,%,PerStudent,AllFunds,%.1,PerStudent.1
0,Expenditures by Object (Objects 6100-6600),Expenditures by Object (Objects 6100-6600),Expenditures by Object (Objects 6100-6600),Expenditures by Object (Objects 6100-6600),Expenditures by Object (Objects 6100-6600),Expenditures by Object (Objects 6100-6600),Expenditures by Object (Objects 6100-6600)
1,Total Expenditures,"$5,997,618",100.00%,"$7,064","$6,018,777",100.00%,"$7,089"

In [4]:
def get_budgets(school_id):

    budget_data = pd.DataFrame({



                                })

    for i in school_id:

        url = 'https://rptsvr1.tea.texas.gov/cgi/sas/broker?_service=marykay&_service=appserv&_debug=0&_program=sfadhoc.new_Campus_actual21.sas&which_camp={school_id}'

        data = pd.read_html(url)
        data = data[1]

        return data

- turn acquire into function to get the data for all the urls
- make sure there is a way to keep track of school id for that data
- move to prep_budget.ipynb to clean data and turn prepare into a function