In [1]:
import pandas as pd
import numpy as np
import acquire as a
import prepare as p
import explore as e
import modeling as m
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import statistics

import sklearn.preprocessing
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv('school_data.csv')
df = p.clean_df()
#train, val, test = e.tts(df)

In [ ]:

def tts(df, x= .85, y= .85, z= 1.3, stratify=None):
    '''
    removing your test data from the data
    '''
    train_validate, test=train_test_split(df, 
                                 train_size=.8, 
                                 random_state=137,
                                 stratify=None)
    '''
    splitting the remaining data into the train and validate groups
    '''            
    train, validate =train_test_split(train_validate, 
                                      test_size=.3, 
                                      random_state=137,
                                      stratify=None)
    ####
    #Validate experiment
    validate['teacher_exp_0to5'] = validate['teacher_exp_0to5'] * x
    validate['teacher_exp_6to10'] = validate['teacher_exp_6to10'] * y
    validate['teacher_exp_11_plus'] = validate['teacher_exp_11_plus'] * z

    ####
    return train, validate, test

In [ ]:
train, val, test = tts(df)

In [ ]:

def model_results(df):
    '''
    this function will calculate baseline RMSE for train/validate and generate the linear regression models/preds/RMSE and show the difference
    '''
    train, val, test= tts(df)
    target=['english_1', 'english_2', 'algebra','biology', 'history']
    subject=['English 1', 'English 2', 'Algebra', 'Biology', 'U.S. History']

    
    X_train=train.drop(columns=['biology', 'english_1', 'english_2', 'algebra', 'history', 'school_id'])
    X_val=val.drop(columns=['biology', 'english_1', 'english_2', 'algebra', 'history', 'school_id'])
    X_test=test.drop(columns=['biology', 'english_1', 'english_2', 'algebra', 'history', 'school_id'])
    
    #subject = []

    lm=LinearRegression()
    for t in target:
        y_train=pd.DataFrame(train[t])
        y_val=pd.DataFrame(val[t])
        y_test=pd.DataFrame(test[t])
        
        lm.fit(X_train, y_train[t])
        pred_t= lm.predict(X_train)
        pred_v= lm.predict(X_val)

        new_list = []
        new_list.append(pred_v)
        t = new_list


    return

In [ ]:
pred_v_alternate = model_results(df)

In [ ]:
pred_v_alternate

#### Things to test for changes to see if pass rates are included
- student_teacher_ratio
- total_expend
- drop teacher experience 6 to 10 and 0 to 5 by 5% each, raise exp_11_plus by 10% 
- ^ can check what's beyond how much total_expend changes with that change (see if changing the mix of teachers results in relatively the same spending but higher passing rates)

In [ ]:
# modify function to input different test sets and calculate mean of predictions
# have predictions output for each subject
# compare predictions of modified test sets with mean of preds from normal set

In [ ]:
def model_results_plot(df):
    '''
    this function will calculate baseline RMSE for train/validate and generate the linear regression models/preds/RMSE and show     the difference
    '''
    train, val, test= tts(df)
    target=['english_1', 'english_2', 'algebra','biology', 'history']
    subject=['English 1', 'English 2', 'Algebra', 'Biology', 'U.S. History']
    English=[]
    English_2=[]
    Algebra=[]
    Biology=[]
    US_History=[]
    

    X_train=train.drop(columns=['biology', 'english_1', 'english_2', 'algebra', 'history', 'school_id'])
    X_val=val.drop(columns=['biology', 'english_1', 'english_2', 'algebra', 'history', 'school_id'])
    X_test=test.drop(columns=['biology', 'english_1', 'english_2', 'algebra', 'history', 'school_id'])
    
    lm=LinearRegression()
    for t in target:
        y_train=pd.DataFrame(train[t])
        y_val=pd.DataFrame(val[t])
        y_test=pd.DataFrame(test[t])
        
        lm.fit(X_train, y_train[t])
        pred_t= lm.predict(X_train)
        pred_v= lm.predict(X_val)
        pred_test= lm.predict(X_test)
        
        #change what's after the append

        #train['Baseline Mean'] = train[t].mean()
        English.append(pred_v)
        English_2.append(pred_v)
        Algebra.append(pred_v)
        Biology.append(pred_v)
        US_History.append(pred_v)


    '''    english_avg = stats.mean(English[0])
    english_2_avg = stats.mean(English_2[0])
    algebra_avg = stats.mean(Algebra[0])
    biology_avg = stats.mean(Biology[0])
    history_avg = stats.mean(US_History[0])'''



    # change names of columns
    results=pd.DataFrame( index= subject, data= {
        'AVG pass': English.mean(),
        'AVG pass': English_2.mean(),
        'AVG pass': Algebra.mean(),
        'AVG pass': Biology.mean(),
        'AVG pass': US_History.mean(),
        #'predictions':
    })

    

    return results

In [ ]:
#English, English_2, Algebra, Biology, US_History =

model_results_plot(df)

- - -

In [6]:

def tts(df, x= 1, y= 1, z= 1, stratify=None):
    '''
    removing your test data from the data
    '''
    train_validate, test=train_test_split(df, 
                                 train_size=.8, 
                                 random_state=137,
                                 stratify=None)
    '''
    splitting the remaining data into the train and validate groups
    '''            
    train, validate =train_test_split(train_validate, 
                                      test_size=.3, 
                                      random_state=137,
                                      stratify=None)
    ####
    #Validate experiment
    validate['teacher_exp_0to5'] = validate['teacher_exp_0to5'] * x
    validate['teacher_exp_6to10'] = validate['teacher_exp_6to10'] * y
    validate['teacher_exp_11_plus'] = validate['teacher_exp_11_plus'] * z

    ####
    return train, validate, test

In [4]:
def model_results_plot(df):
    '''
    this function will calculate baseline RMSE for train/validate and generate the linear regression models/preds/RMSE and show the difference
    '''
    train, val, test = tts(df)
    target = ['english_1', 'english_2', 'algebra', 'biology', 'history']
    subject = ['English 1', 'English 2', 'Algebra', 'Biology', 'U.S. History']
    preds = {}

    X_train = train.drop(columns=['biology', 'english_1', 'english_2', 'algebra', 'history', 'school_id'])
    X_val = val.drop(columns=['biology', 'english_1', 'english_2', 'algebra', 'history', 'school_id'])
    #X_test = test.drop(columns=['biology', 'english_1', 'english_2', 'algebra', 'history', 'school_id'])
    
    for t in target:
        y_train = train[t]
        y_val = val[t]
        y_test = test[t]
        
        lm = LinearRegression()
        lm.fit(X_train, y_train)
        preds[t] = {
            'train': lm.predict(X_train),
            'val': lm.predict(X_val),
            #'test': lm.predict(X_test)
        }

    results = pd.DataFrame(index=subject, columns=['train', 'val'])
    for i, s in enumerate(subject):
        results.loc[s, 'train'] = preds[target[i]]['train'].mean()
        results.loc[s, 'val'] = preds[target[i]]['val'].mean()
        #results.loc[s, 'test'] = preds[target[i]]['test'].mean()

    return results

In [7]:
original = model_results_plot(df)
original

                  train        val
English 1     67.115681  66.499044
English 2     72.290488  71.634894
Algebra       73.232648  72.711162
Biology       82.784062  82.341875
U.S. History  87.829049   87.51307

In [5]:
experiment = model_results_plot(df)
experiment

                  train         val
English 1     67.115681    72.01758
English 2     72.290488   86.007471
Algebra       73.232648   57.903798
Biology       82.784062   92.199194
U.S. History  87.829049  101.937453

English 2 scores higher with less tenured teachers
Alegbra scores higher with more tenured teachers