In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv('school_data.csv')

In [3]:
df.shape

(1561, 21)

In [4]:
df.head()

,Unnamed: 0,school_id,eng1,eng2,algebra,biology,history,ebel,econdis,salary,masters,doct,beginning_teach,ex_5,ex_10,ex_1120,ex_2130,ex_plus,extra_fund,all_fund,ratio
0,0,1902001,67%,82%,95%,88%,93%,1.2%,34.3%,"$55,259",22.0%,0.0%,0.0%,18.0%,16.4%,37.3%,22.5%,5.8%,"$1,852","$10,656",10.1
1,0,1903001,75%,87%,76%,92%,93%,1.3%,34.5%,"$48,689",29.4%,0.0%,0.0%,27.2%,21.6%,29.6%,10.8%,10.8%,"$2,056","$11,177",8.3
2,0,1904001,78%,80%,90%,87%,88%,4.7%,42.2%,"$51,538",37.0%,0.0%,5.0%,37.2%,15.2%,23.1%,11.4%,8.1%,"$2,151","$10,885",8.8
3,0,1906002,82%,80%,100%,100%,96%,2.9%,48.1%,"$58,500",9.8%,0.0%,0.0%,20.5%,20.4%,37.1%,11.0%,11.0%,"$1,899","$15,043",11.9
4,0,1907001,64%,66%,82%,83%,83%,13.8%,79.9%,"$52,703",20.8%,0.0%,3.5%,19.2%,17.4%,34.5%,11.7%,13.7%,"$1,504","$11,129",12.2

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1561 entries, 0 to 1560
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       1561 non-null   int64
 1   school_id        1561 non-null   int64
 2   eng1             1561 non-null   object
 3   eng2             1561 non-null   object
 4   algebra          1561 non-null   object
 5   biology          1561 non-null   object
 6   history          1561 non-null   object
 7   ebel             1561 non-null   object
 8   econdis          1561 non-null   object
 9   salary           1561 non-null   object
 10  masters          1561 non-null   object
 11  doct             1561 non-null   object
 12  beginning_teach  1561 non-null   object
 13  ex_5             1561 non-null   object
 14  ex_10            1561 non-null   object
 15  ex_1120          1561 non-null   object
 16  ex_2130          1561 non-null   object
 17  ex_plus          1561 non-null   object
 18  extra_fund       1561 non-null   object
 19  all_fund         1561 non-null   object
 20  ratio            1561 non-null   object
dtypes: int64(2), object(19)
memory usage: 256.2+ KB

In [5]:
#remove %
#remove $