In [1]:
import pandas as pd
import acquire_budget as ab
import prepare as p

In [2]:
df = ab.get_budgets()

In [10]:
def prepare(df):

    '''Takes in full dataset cleans and returns only Per Student expenses with index set to spending category'''

    df = df.rename(columns= {'Unnamed: 0':'spending_category', '%':'pct'})
    df = df.drop(columns= ['AllFunds', '%.1', 'PerStudent.1'])
    df = df.iloc[7:38]
    df_temp = df.apply(lambda x: x.str.replace(',', ''))
    df_temp2 = df_temp.apply(lambda x: x.str.replace('$', ''))
    df = df_temp2.apply(lambda x: x.str.replace('%', ''))
    df = df[df['spending_category'] != 'Program\xa0expenditures\xa0by\xa0Program (Objects\xa06100-6400\xa0only)']
    df['GeneralFund'] = pd.to_numeric(df['GeneralFund'])
    df['pct'] = pd.to_numeric(df['pct'])
    df['PerStudent'] = pd.to_numeric(df['PerStudent'])
    df = df.drop(columns= ['GeneralFund', 'pct'])
    df.set_index('spending_category', inplace= True)

    return df

In [4]:
df = prepare(df)

/var/folders/4f/nyhvlyfd511911zdvn0fq0_00000gn/T/ipykernel_44723/3995098881.py:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_temp2 = df_temp.apply(lambda x: x.str.replace('$', ''))

- Clean whole data frame before splitting

- - -

In [5]:
# split into two different dataframes, expend_by_function and expend_by_program

def function_program_split(df):

    ''' Takes in cleaned dataframe and splits into two dataframes, one for expenses by function 
        and one for expenses by program'''

    expend_by_function = df.iloc[1:14]
    expend_by_program = df.iloc[14:32]

    expend_by_function = expend_by_function.T
    expend_by_program = expend_by_program.T

    return expend_by_function, expend_by_program

Train, Test, Split before exploring/clustering

In [11]:
expend_by_function, expend_by_program = function_program_split(df)

In [12]:
expend_by_function

spending_category,Instructional Res/Media (12) *,Curriculum/Staff Develop (13) *,Instructional Leadership (21) *,School Leadership (23) *,Guidance/Counseling Svcs (31) *,Social Work Services (32) *,Health Services (33) *,Food (35) **,Extracurricular (36) * **,Plant Maint/Operation (51) * **,Security/Monitoring (52) * **,Data Processing Svcs (53)* **,Total Operating Expenditures
PerStudent,33,5,0,497,395,0,78,0,734,0,0,0,6330

Prepare function done for now, probably need to add school id's later