In [6]:
import pandas as pd
import prepare as p

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [7]:
df = pd.read_csv('school_data.csv')

In [8]:
df.head()

,Unnamed: 0,school_id,eng1,eng2,algebra,biology,history,ebel,econdis,salary,masters,doct,beginning_teach,ex_5,ex_10,ex_1120,ex_2130,ex_plus,extra_fund,all_fund,ratio
0,0,1902001,67%,82%,95%,88%,93%,1.2%,34.3%,"$55,259",22.0%,0.0%,0.0%,18.0%,16.4%,37.3%,22.5%,5.8%,"$1,852","$10,656",10.1
1,0,1903001,75%,87%,76%,92%,93%,1.3%,34.5%,"$48,689",29.4%,0.0%,0.0%,27.2%,21.6%,29.6%,10.8%,10.8%,"$2,056","$11,177",8.3
2,0,1904001,78%,80%,90%,87%,88%,4.7%,42.2%,"$51,538",37.0%,0.0%,5.0%,37.2%,15.2%,23.1%,11.4%,8.1%,"$2,151","$10,885",8.8
3,0,1906002,82%,80%,100%,100%,96%,2.9%,48.1%,"$58,500",9.8%,0.0%,0.0%,20.5%,20.4%,37.1%,11.0%,11.0%,"$1,899","$15,043",11.9
4,0,1907001,64%,66%,82%,83%,83%,13.8%,79.9%,"$52,703",20.8%,0.0%,3.5%,19.2%,17.4%,34.5%,11.7%,13.7%,"$1,504","$11,129",12.2

In [ ]:
df = p.change_dollars(df)

In [ ]:
df = p.remove_percent_sign(df)

In [ ]:
df.head(2)

In [ ]:
df = df.replace(['-', ' ', '*', '%'] , ['','','', ''])

In [ ]:
for index, row in df.iterrows():
    row.replace(['-', ' ', '*', '%'] , ['','','', ''])

In [ ]:
print(df.eng1[13:14])

In [ ]:
def drop_symbols(df):
    df = df[df['salary'] != '-']
    df = df[df['salary'] != '?']
    df.salary = convert_dollars_to_float(df.salary)
    df.all_fund = convert_dollars_to_float(df.all_fund)
    df.extra_fund = convert_dollars_to_float(df.extra_fund)
    return df

In [ ]:
for index, row in df.iterrows():
    if '-' in row:
        df.drop(index, inplace= True)

In [ ]:
def remove_symbols(df):
    rows = df.columns.to_list()
    for row in rows:
        df = df[df[row] != '-         ']           
        df = df[df[row] != '*         ']
    return df

In [ ]:
remove_symbols(df)

In [ ]:
df.info()

In [ ]:
df = df.rename(columns= {'eng1': 'english_1',
                         'eng2': 'english_2',
                         'ebel': 'bilingual_or_english_learner',
                         'ex_5' : 'teacher_exp_5',
                         'ex_10': 'teacher_exp_6to10',
                         'ex_1120': 'teacher_exp_11to20',
                         'ex_2130': 'teacher_exp_21tp30',
                         'ex_plus' : 'teacher_exp_11plus',
                         'extra_fund': 'extracurricular_expend',
                         'all_fund': 'total_expend',
                         'ratio': 'student_teacher_ratio'
                         })

In [ ]:
df.head(1)

In [ ]:
for index, row in df.iterrows():

In [4]:
df = p.clean_df(df)

In [9]:
df.head(10)

,Unnamed: 0,school_id,eng1,eng2,algebra,biology,history,ebel,econdis,salary,masters,doct,beginning_teach,ex_5,ex_10,ex_1120,ex_2130,ex_plus,extra_fund,all_fund,ratio
0,0,1902001,67%,82%,95%,88%,93%,1.2%,34.3%,"$55,259",22.0%,0.0%,0.0%,18.0%,16.4%,37.3%,22.5%,5.8%,"$1,852","$10,656",10.1
1,0,1903001,75%,87%,76%,92%,93%,1.3%,34.5%,"$48,689",29.4%,0.0%,0.0%,27.2%,21.6%,29.6%,10.8%,10.8%,"$2,056","$11,177",8.3
2,0,1904001,78%,80%,90%,87%,88%,4.7%,42.2%,"$51,538",37.0%,0.0%,5.0%,37.2%,15.2%,23.1%,11.4%,8.1%,"$2,151","$10,885",8.8
3,0,1906002,82%,80%,100%,100%,96%,2.9%,48.1%,"$58,500",9.8%,0.0%,0.0%,20.5%,20.4%,37.1%,11.0%,11.0%,"$1,899","$15,043",11.9
4,0,1907001,64%,66%,82%,83%,83%,13.8%,79.9%,"$52,703",20.8%,0.0%,3.5%,19.2%,17.4%,34.5%,11.7%,13.7%,"$1,504","$11,129",12.2
5,0,1908002,68%,63%,78%,87%,86%,7.0%,67.5%,"$47,384",12.9%,2.5%,5.1%,46.8%,12.4%,14.0%,16.5%,5.1%,$525,"$8,340",10.3
6,0,1909001,89%,95%,91%,97%,100%,0.0%,33.7%,"$57,171",19.0%,0.0%,2.6%,7.8%,21.4%,27.0%,36.1%,5.1%,$956,"$12,195",7.8
7,0,2901001,62%,64%,80%,83%,86%,8.0%,44.9%,"$66,022",30.6%,1.2%,1.9%,12.2%,17.8%,37.2%,23.2%,7.8%,"$1,425","$10,123",14.0
8,0,2901002,11%,42%,67%,60%,75%,3.3%,60.0%,"$59,480",40.0%,0.0%,0.0%,20.0%,40.0%,40.0%,0.0%,0.0%,$0,"$14,620",12.0
9,0,3801001,75%,81%,86%,93%,99%,3.5%,47.7%,"$53,026",14.6%,0.0%,0.0%,34.1%,33.5%,21.8%,10.6%,0.0%,$412,"$10,017",14.7